<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened [class.collapsed]="!sidenavExpanded" class="sidenav">
        <div class="sidenav-header">
            @if (sidenavExpanded) {
            <h2 class="app-title">MyGifts</h2>
            } @else {
            <h2 class="app-title-short">MG</h2>
            }
        </div>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item routerLink="/" class="nav-item">
                <mat-icon matListItemIcon>home</mat-icon>
                @if (sidenavExpanded) {
                <span matListItemTitle>Home</span>
                }
            </a>
            <a mat-list-item routerLink="/friends" class="nav-item">
                <mat-icon matListItemIcon>people</mat-icon>
                @if (sidenavExpanded) {
                <span matListItemTitle>Friends</span>
                }
            </a>
            <a mat-list-item routerLink="/list" class="nav-item">
                <mat-icon matListItemIcon>list</mat-icon>
                @if (sidenavExpanded) {
                <span matListItemTitle>List</span>
                }
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" [class.expanded]="!sidenavExpanded">
        <div class="top-bar">
            <div class="left-section">
                <button mat-icon-button (click)="toggleSidenav()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="page-title">{{ currentPageTitle }}</span>
            </div>
            <div class="right-section">
                <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-trigger">
                    @if (currentUser$ | async; as user) {
                    <span class="user-name">{{ user.firstName }}</span>
                    }
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </div>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item [routerLink]="'/profile'">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item [routerLink]="'/settings'">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="onLogout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>

        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>